<html>
	<head>
		<title><%= message %></title>
		<%- include('components/meta') %>

		<style>
			body {
				display: flex;
				min-height: 100vh;
				font-family: Arial, sans-serif;
				font-size: 20px;
				background: #1a202c;
				color: rgba(255, 255, 255, 0.92);
				margin: 0;
			}

			.container {
				display: flex;
				padding: 18px;
				margin: auto;
				flex-direction: column;
				background: #1a202c;
			}

			.title {
				font-size: 140px;
				margin-top: 0;
				margin-bottom: 0;
				text-align: center;
			}

			.message {
				font-size: 20px;
				text-align: center;
				margin: 0;
			}

			.button {
				display: inline-flex;
				user-select: none;
				white-space: nowrap;
				outline: 2px solid transparent;
				outline-offset: 2px;
				width: auto;
				border-radius: 5px;
				font-weight: 700;
				transition-property: background-color, border-color, color;
				transition-duration: 200ms;
				height: 50px;
				line-height: 50px;
				min-width: 200px;
				border: 1px solid;
				border-color: currentColor;
				background-color: transparent;
				margin-top: 52px;
				margin-inline-start: auto;
				margin-inline-end: auto;
				cursor: pointer;
			}

			.button:hover {
				background-color: rgba(0, 0, 0, 0.12);
			}

			.button a {
				width: 100%;
				text-align: center;
				color: currentColor;
				text-decoration: none;
				padding-inline-start: 18px;
				padding-inline-end: 18px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<h1 class="title"><%= code %></h1>
			<p class="message">
				<span><%= message %></span>
			</p>
			<% if (backTo) { %>
			<div class="button">
				<a href="<%= backTo %>">Go back</a>
			</div>
			<% } %>
		</div>
	</body>
</html>
